@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "_Layout";
    }
}
<div style="background: #fff;height: 100px"></div>
<h1 class="m-2">Manage your account</h1>
<div class="p-lg-5">
    <div>
        <h2>Change your account settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
