@page
@using Bookify.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<User> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var imgPath = MyHttpContext.AppBaseUrl +"/img";
    var userImage = User.Identity!.IsAuthenticated 
        ? UserManager.FindByNameAsync(User.Identity.Name).Result.ProfileImagePath
        : null; 
}
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating" style="position:relative">
                <input asp-for="Input.ProfileImage"  class="form-control" />
                <label asp-for="Input.ProfileImage" style="padding:6px" class="form-label"></label>
                <span asp-validation-for="Input.ProfileImage" class="text-danger"></span>
                <img src="@(userImage == null ? imgPath+"/default-avatar-profile-icon-vector-39013212.jpg" : @imgPath+"/"+@userImage)"
                     alt=""
                     id="output"
                     style="position: absolute;
                            top: 5px;
                            right: 7px;
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;">
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script >
    $(document).ready(function(){
        $(document).on("change","#Input_ProfileImage",function(event){
            let img = $("#output");
            img.show();
            img.attr("src",URL.createObjectURL(event.target.files[0]));
        })
    });
    </script>
}
